In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('book_data.csv')
data.head()

,title,category,upc,product_type,price_excl,price_incl,tax,availability,no_of_reviews
0,\n A Light in the Attic | Books to Scrape -...,Poetry,a897fe39b1053632,Books,Â£51.77,Â£51.77,Â£0.00,In stock (22 available),0
1,\n Tipping the Velvet | Books to Scrape - S...,Historical Fiction,90fa61229261140a,Books,Â£53.74,Â£53.74,Â£0.00,In stock (20 available),0
2,\n Soumission | Books to Scrape - Sandbox\n,Fiction,6957f44c3847a760,Books,Â£50.10,Â£50.10,Â£0.00,In stock (20 available),0
3,\n Sharp Objects | Books to Scrape - Sandbox\n,Mystery,e00eb4fd7b871a48,Books,Â£47.82,Â£47.82,Â£0.00,In stock (20 available),0
4,\n Sapiens: A Brief History of Humankind | ...,History,4165285e1663650f,Books,Â£54.23,Â£54.23,Â£0.00,In stock (20 available),0

In [3]:
# data['title'][0].split('|')[0].split('\n')[1].strip()
data['title'] = [i.split('|')[0].split('\n')[1].strip() for i in data['title']]

In [4]:
data['price_excl'] = [i.strip('Â£') for i in data['price_excl']]
data['price_excl'] =  data['price_excl'].astype('float')

In [5]:
data['price_incl'] = [i.strip('Â£') for i in data['price_incl']]
data['price_incl'] =  data['price_incl'].astype('float')

In [6]:
data['tax'] = [i.strip('Â£') for i in data['tax']]
data['tax'] =  data['tax'].astype('float')

In [7]:
data['stock_availability'] = [i.split('(')[0].strip() for i in data['availability']]
data['available_count'] = [i.split('(')[1].split()[0] for i in data['availability']]
data.drop(columns = 'availability', inplace = True)
data['available_count'] = data['available_count'].astype('int')

In [8]:
data.to_csv('books_updated.csv', index = False)

In [10]:
features = pd.DataFrame({"Features" : data.columns})

In [11]:
features['Description'] = ["The title of the book", 
                        "The genre to which the book belongs", 
                        "A unique identifier for the book", 
                        "Type of the product", 
                        "The price of the book excluding any taxes", 
                        "The total price of the book, including taxes", 
                        "The amount of tax applied to the book", 
                        "The number of reviews the book has received", 
                        "Indicates whether the book is in stock or not", 
                        "The number of copies available in stock"]

In [12]:
features.to_csv('features.csv', index = False)